<p>home works!</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. A exercitationem
  eligendi vitae corporis dicta iusto quos sapiente velit quibusdam. Ex maxime
  repudiandae sequi nulla atque quae voluptatum esse minima velit!
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sint maxime
  suscipit eaque voluptatem! Sunt iure ipsam tenetur dolor quod facere fuga, ab
  similique esse eveniet facilis modi, accusantium dolores!
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque optio, dolorem
  sunt obcaecati tempore assumenda accusantium eius voluptatum, amet iusto qui
  officia ut ipsa eveniet illo totam at corporis. Possimus.]
</p>
<!-- <ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
    <button mat-mini-fab color="accent" aria-label="adicionar livro">
      <mat-icon>add</mat-icon> adicionar livro
    </button>
  </mat-header-cell>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 -->

<button
  mat-mini-fab
  color="accent"
  aria-label="adicionar livro"
  (click)="onAdd()"
>
  <mat-icon>add</mat-icon>
</button>
