<mat-card>
  <mat-toolbar color="primary"> detales do livro </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="titulo" formControlName="title" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="categoria" formControlName="category" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>capa </mat-label>
        <input matInput placeholder="capa" formControlName="urlCover" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Autor </mat-label>
        <input matInput placeholder="author" formControlName="author" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>ISBN </mat-label>
        <input matInput placeholder="isbn" formControlName="isbn" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estante</mat-label>
        <mat-select formControlName="shelf">
          <mat-option value="null"></mat-option>
          <mat-option value="purchased">Comprado</mat-option>
          <mat-option value="sold">vendido</mat-option>
          <mat-option value="gift">Presente</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="buscarIsbn('9786555604283')">
      SALVAR
    </button>
    <button mat-raised-button (click)="onCancel()">CANCELAR</button>
  </mat-card-actions>
</mat-card>
